/* Styles for the stars animation */
.stars, .twinkling {
    position: absolute; /* Positioning the stars and twinkling elements */
    top: 0; /* Aligns elements to the top */
    left: 0; /* Aligns elements to the left */
    width: 100%; /* Sets the width to cover the entire viewport */
    height: 100%; /* Sets the height to cover the entire viewport */
    display: block; /* Displays elements as blocks */
}

/* Styles for the stars background */
.stars {
    background: #000 url('https://www.script-tutorials.com/demos/360/images/stars.png') repeat; /* Sets the stars background with repeating image */
    z-index: -2; /* Sets the z-index to render the stars behind other content */
    animation: stars 50s linear infinite; /* Animates the stars */
}



/* Styles for the twinkling background */
.twinkling {
    background: transparent url('https://www.script-tutorials.com/demos/360/images/twinkling.png') repeat; /* Sets the twinkling background with repeating transparent image */
    z-index: -1; /* Sets the z-index to render the twinkling behind other content */
    animation: move-twink-back 100s linear infinite; /* Animates the twinkling */
}



/* Keyframes for the stars animation */
@keyframes stars {
    from {background-position: 0 0;} /* Starting position of the background */
    to {background-position: -10000px 5000px;} /* Ending position of the background */
}



/* Keyframes for the twinkling animation */
@keyframes move-twink-back {
    from {background-position: 0 0;} /* Starting position of the background */
    to {background-position: 10000px 10000px;} /* Ending position of the background */
}